#lX3KDWaM_j {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#lX3KDWaM_j:hover, #lX3KDWaM_j:focus, #lX3KDWaM_j:active {
  -webkit-animation-name: pulse-shrink-on-hover;
  animation-name: pulse-shrink-on-hover;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

#lX3KDWaM_i {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#lX3KDWaM_i:hover, #lX3KDWaM_i:focus, #lX3KDWaM_i:active {
  -webkit-animation-name: pulse-shrink-on-hover;
  animation-name: pulse-shrink-on-hover;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

#lX3KDWaM_k {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#lX3KDWaM_k:hover, #lX3KDWaM_k:focus, #lX3KDWaM_k:active {
  -webkit-animation-name: pulse-shrink-on-hover;
  animation-name: pulse-shrink-on-hover;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

#lX3KDWaM_l {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#lX3KDWaM_l:hover, #lX3KDWaM_l:focus, #lX3KDWaM_l:active {
  -webkit-animation-name: pulse-shrink-on-hover;
  animation-name: pulse-shrink-on-hover;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

#lX3KDWaM_m {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#lX3KDWaM_m:hover, #lX3KDWaM_m:focus, #lX3KDWaM_m:active {
  -webkit-animation-name: pulse-shrink-on-hover;
  animation-name: pulse-shrink-on-hover;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

#lX3KDWaM_n {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#lX3KDWaM_n:hover, #lX3KDWaM_n:focus, #lX3KDWaM_n:active {
  -webkit-animation-name: pulse-shrink-on-hover;
  animation-name: pulse-shrink-on-hover;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

#lX3KDWaM_o {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#lX3KDWaM_o:hover, #lX3KDWaM_o:focus, #lX3KDWaM_o:active {
  -webkit-animation-name: pulse-shrink-on-hover;
  animation-name: pulse-shrink-on-hover;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

#lX3KDWaM_p {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#lX3KDWaM_p:hover, #lX3KDWaM_p:focus, #lX3KDWaM_p:active {
  -webkit-animation-name: pulse-shrink-on-hover;
  animation-name: pulse-shrink-on-hover;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}


#free-vector-vegetables-set-cli {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#free-vector-vegetables-set-cli:hover, #free-vector-vegetables-set-cli:focus, #free-vector-vegetables-set-cli:active {
  -webkit-animation-name: pulse-shrink-on-hover;
  animation-name: pulse-shrink-on-hover;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}



#nsbm {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#nsbm:hover, #nsbm:focus, #nsbm:active {
  -webkit-animation-name: pulse-shrink-on-hover;
  animation-name: pulse-shrink-on-hover;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

#Rectangle_13 :hover,
#Rectangle_13 :focus,
#Rectangle_13 :active {
    background-color: hsl(174, 100%, 35%);
}
#Rectangle_13 :hover,
#Rectangle_13 :focus,
#Rectangle_13 :active {
    background-color: hsl(174, 100%, 35%);
}