.mediaViewInfo {
	--web-view-name: Custom Size – 1;
	--web-view-id: Custom_Size__1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Custom_Size__1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Custom_Size__1 {
	position: absolute;
	width: 1520px;
	height: 2691px;
	background: linear-gradient(134.4deg, rgba(218,242,210,1) 0%, rgba(98,187,71,1) 100%);
	overflow: hidden;
	--web-view-name: Custom Size – 1;
	--web-view-id: Custom_Size__1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#lX3KDWaM_j {
	position: absolute;
	width: 248.776px;
	height: 248.776px;
	left: 1338.84px;
	top: -49.769px;
	overflow: visible;
}
#lX3KDWaM_i {
	position: absolute;
	width: 248.776px;
	height: 248.776px;
	left: 1338.84px;
	top: 302.231px;
	overflow: visible;
}
#lX3KDWaM_j {
	position: absolute;
	width: 248.776px;
	height: 248.776px;
	left: 1338.84px;
	top: -49.769px;
	overflow: visible;
}
#lX3KDWaM_k {
	position: absolute;
	width: 248.776px;
	height: 248.776px;
	left: 927.84px;
	top: -59.769px;
	overflow: visible;
}
#lX3KDWaM_l {
	position: absolute;
	width: 248.776px;
	height: 248.776px;
	left: 1364.84px;
	top: 594.231px;
	overflow: visible;
}
#lX3KDWaM_m {
	position: absolute;
	width: 248.776px;
	height: 248.776px;
	left: 1089.84px;
	top: 213.231px;
	overflow: visible;
}
#lX3KDWaM_n {
	position: absolute;
	width: 248.776px;
	height: 248.776px;
	left: 770.84px;
	top: 234.231px;
	overflow: visible;
}
#lX3KDWaM_o {
	position: absolute;
	width: 248.776px;
	height: 248.776px;
	left: 1051.84px;
	top: 610.231px;
	overflow: visible;
}
#lX3KDWaM_p {
	position: absolute;
	width: 248.776px;
	height: 248.776px;
	left: 495.84px;
	top: 9.231px;
	overflow: visible;
}
#free-vector-vegetables-set-cli {
	position: absolute;
	width: 142.552px;
	height: 155.128px;
	left: 1154.224px;
	top: 59.936px;
	overflow: visible;
}
#free-vector-vegetables-set-cli_u {
	position: absolute;
	width: 142.552px;
	height: 155.128px;
	left: 991.224px;
	top: 438.936px;
	overflow: visible;
}
#free-vector-vegetables-set-cli_s {
	position: absolute;
	width: 142.552px;
	height: 155.128px;
	left: 743.224px;
	top: 64.936px;
	overflow: visible;
}
#free-vector-vegetables-set-cli_t {
	position: absolute;
	width: 142.552px;
	height: 155.128px;
	left: 1267.224px;
	top: 465.936px;
	overflow: visible;
}
#free-vector-vegetables-set-cli_u {
	position: absolute;
	width: 142.552px;
	height: 155.128px;
	left: 991.224px;
	top: 438.936px;
	overflow: visible;
}
#free-vector-vegetables-set-cli_v {
	position: absolute;
	width: 142.552px;
	height: 155.128px;
	left: 646.224px;
	top: 454.936px;
	overflow: visible;
}
#free-vector-vegetables-set-cli_w {
	position: absolute;
	width: 142.552px;
	height: 155.128px;
	left: 856.224px;
	top: 703.936px;
	overflow: visible;
}
#kisspng-chili-pepper-vector-gr {
	position: absolute;
	width: 177px;
	height: 106px;
	left: 1233px;
	top: 138px;
	overflow: visible;
}
#kisspng-chili-pepper-vector-gr_y {
	position: absolute;
	width: 177px;
	height: 106px;
	left: 839px;
	top: 128px;
	overflow: visible;
}
#kisspng-chili-pepper-vector-gr_z {
	position: absolute;
	width: 177px;
	height: 106px;
	left: 760px;
	top: 472px;
	overflow: visible;
}
#kisspng-chili-pepper-vector-gr_ {
	position: absolute;
	width: 177px;
	height: 106px;
	left: 558px;
	top: 232px;
	overflow: visible;
}
#ID26-269995_fruit-and-vegetabl {
	position: absolute;
	width: 209.083px;
	height: 210.162px;
	left: 717.855px;
	top: -105.575px;
	overflow: visible;
}
#ID26-269995_fruit-and-vegetabl_ {
	position: absolute;
	width: 148.83px;
	height: 149.64px;
	left: 993.504px;
	top: 327.948px;
	overflow: visible;
}
#ID26-269995_fruit-and-vegetabl_ba {
	position: absolute;
	width: 148.83px;
	height: 149.64px;
	left: 903.504px;
	top: 534.948px;
	overflow: visible;
}
#ID26-269995_fruit-and-vegetabl_bb {
	position: absolute;
	width: 148.83px;
	height: 149.64px;
	left: 1267.504px;
	top: 596.948px;
	overflow: visible;
}
#ID111-1116028_vegetables-simpl {
	position: absolute;
	width: 142px;
	height: 155px;
	left: 1208px;
	top: -77px;
	overflow: visible;
}
#ID111-1116028_vegetables-simpl_ {
	position: absolute;
	width: 142px;
	height: 155px;
	left: 1418px;
	top: 167px;
	overflow: visible;
}
#ID111-1116028_vegetables-simpl_ba {
	position: absolute;
	width: 142px;
	height: 155px;
	left: 999px;
	top: 181px;
	overflow: visible;
}
#ID111-1116028_vegetables-simpl_bb {
	position: absolute;
	width: 142px;
	height: 155px;
	left: 662px;
	top: 285px;
	overflow: visible;
}
#ID111-1116028_vegetables-simpl_bc {
	position: absolute;
	width: 142px;
	height: 155px;
	left: 753px;
	top: 607px;
	overflow: visible;
}
#ID111-1116028_vegetables-simpl_bd {
	position: absolute;
	width: 142px;
	height: 155px;
	left: 1134px;
	top: 480px;
	overflow: visible;
}
#kisspng-calabaza-onion-cartoon {
	position: absolute;
	width: 110.083px;
	height: 138.629px;
	left: 1007.084px;
	top: 602.028px;
	overflow: visible;
}
#kisspng-calabaza-onion-cartoon_bc {
	position: absolute;
	width: 110.083px;
	height: 138.629px;
	left: 1295.084px;
	top: 704.028px;
	overflow: visible;
}
#kisspng-calabaza-onion-cartoon_bd {
	position: absolute;
	width: 110.083px;
	height: 138.629px;
	left: 1477.084px;
	top: 482.028px;
	overflow: visible;
}
#kisspng-calabaza-onion-cartoon_be {
	position: absolute;
	width: 110.083px;
	height: 138.629px;
	left: 1306.084px;
	top: 275.028px;
	overflow: visible;
}
#kisspng-calabaza-onion-cartoon_bf {
	position: absolute;
	width: 110.083px;
	height: 138.63px;
	left: 868.084px;
	top: 0.028px;
	overflow: visible;
}
#kisspng-calabaza-onion-cartoon_bg {
	position: absolute;
	width: 110.083px;
	height: 138.63px;
	left: 1276.084px;
	top: -21.972px;
	overflow: visible;
}
#lX3KDWaM_bh {
	position: absolute;
	width: 248.775px;
	height: 248.776px;
	left: -124.16px;
	top: -124.769px;
	overflow: visible;
}
#kisspng-chili-pepper-vector-gr_bi {
	position: absolute;
	width: 177px;
	height: 106px;
	left: 357px;
	top: -31px;
	overflow: visible;
}
#free-vector-vegetables-set-cli_bj {
	position: absolute;
	width: 142.552px;
	height: 155.128px;
	left: -48.776px;
	top: 244.936px;
	overflow: visible;
}
#free-vector-vegetables-set-cli_bk {
	position: absolute;
	width: 142.552px;
	height: 155.128px;
	left: -17.776px;
	top: 528.936px;
	overflow: visible;
}
#ID111-1116028_vegetables-simpl_bl {
	position: absolute;
	width: 142px;
	height: 155px;
	left: 478px;
	top: 657px;
	overflow: visible;
}
#ID111-1116028_vegetables-simpl_bm {
	position: absolute;
	width: 142px;
	height: 155px;
	left: 152px;
	top: -77px;
	overflow: visible;
}
#kisspng-calabaza-onion-cartoon_bn {
	position: absolute;
	width: 110.083px;
	height: 138.63px;
	left: 404.084px;
	top: 117.028px;
	overflow: visible;
}
#kisspng-calabaza-onion-cartoon_bo {
	position: absolute;
	width: 110.083px;
	height: 138.63px;
	left: 634.084px;
	top: -85.972px;
	overflow: visible;
}
#kisspng-calabaza-onion-cartoon_bp {
	position: absolute;
	width: 110.083px;
	height: 138.629px;
	left: 76.084px;
	top: 661.028px;
	overflow: visible;
}
#kisspng-chili-pepper-vector-gr_bq {
	position: absolute;
	width: 177px;
	height: 106px;
	left: -66px;
	top: 117px;
	overflow: visible;
}
#ID26-269995_fruit-and-vegetabl_br {
	position: absolute;
	width: 148.83px;
	height: 149.64px;
	left: 222.504px;
	top: 639.948px;
	overflow: visible;
}
#free-vector-vegetables-set-cli_bs {
	position: absolute;
	width: 142.552px;
	height: 155.128px;
	left: 634.224px;
	top: 1176.936px;
	overflow: visible;
}
#free-vector-vegetables-set-cli_bt {
	position: absolute;
	width: 142.552px;
	height: 155.128px;
	left: 22.224px;
	top: 1091.936px;
	overflow: visible;
}
#free-vector-vegetables-set-cli_bu {
	position: absolute;
	width: 142.552px;
	height: 155.128px;
	left: 267.224px;
	top: 988.936px;
	overflow: visible;
}
#lX3KDWaM_b {
	position: absolute;
	width: 248.776px;
	height: 248.776px;
	left: 477.84px;
	top: 895.231px;
	overflow: visible;
}
#lX3KDWaM_bw {
	position: absolute;
	width: 248.775px;
	height: 248.776px;
	left: -0.16px;
	top: 843.231px;
	overflow: visible;
}
#lX3KDWaM_b {
	position: absolute;
	width: 248.776px;
	height: 248.776px;
	left: 477.84px;
	top: 895.231px;
	overflow: visible;
}
#ID111-1116028_vegetables-simpl_by {
	position: absolute;
	width: 142px;
	height: 155px;
	left: 262px;
	top: 855px;
	overflow: visible;
}
#ID111-1116028_vegetables-simpl_bz {
	position: absolute;
	width: 142px;
	height: 155px;
	left: 388px;
	top: 1177px;
	overflow: visible;
}
#ID26-269995_fruit-and-vegetabl_b {
	position: absolute;
	width: 148.83px;
	height: 149.64px;
	left: 417.504px;
	top: 811.948px;
	overflow: visible;
}
#kisspng-calabaza-onion-cartoon_b {
	position: absolute;
	width: 110.083px;
	height: 138.629px;
	left: 410.084px;
	top: 1038.028px;
	overflow: visible;
}
#ID26-269995_fruit-and-vegetabl_ca {
	position: absolute;
	width: 148.83px;
	height: 149.64px;
	left: 236.504px;
	top: 1146.948px;
	overflow: visible;
}
#kisspng-chili-pepper-vector-gr_b {
	position: absolute;
	width: 177px;
	height: 106px;
	left: 602px;
	top: 1071px;
	overflow: visible;
}
#kisspng-chili-pepper-vector-gr_ca {
	position: absolute;
	width: 177px;
	height: 106px;
	left: 457px;
	top: 1291px;
	overflow: visible;
}
#lX3KDWaM_b {
	position: absolute;
	width: 248.776px;
	height: 248.776px;
	left: 477.84px;
	top: 895.231px;
	overflow: visible;
}
#kisspng-chili-pepper-vector-gr_cb {
	position: absolute;
	width: 177px;
	height: 106px;
	left: 64px;
	top: 1244px;
	overflow: visible;
}
#ID111-1116028_vegetables-simpl_b {
	position: absolute;
	width: 142px;
	height: 155px;
	left: 155px;
	top: 1359px;
	overflow: visible;
}
#kisspng-chili-pepper-vector-gr_cc {
	position: absolute;
	width: 177px;
	height: 106px;
	left: 249px;
	top: 1384px;
	overflow: visible;
}
#lX3KDWaM_ca {
	position: absolute;
	width: 248.775px;
	height: 248.776px;
	left: -62.16px;
	top: 1350.231px;
	overflow: visible;
}
#lX3KDWaM_cb {
	position: absolute;
	width: 248.776px;
	height: 248.776px;
	left: 554.84px;
	top: 1344.231px;
	overflow: visible;
}
#lX3KDWaM_cc {
	position: absolute;
	width: 248.776px;
	height: 248.776px;
	left: 759.84px;
	top: 1189.231px;
	overflow: visible;
}
#ID26-269995_fruit-and-vegetabl_cc {
	position: absolute;
	width: 148.83px;
	height: 149.64px;
	left: 602.504px;
	top: 773.948px;
	overflow: visible;
}
#kisspng-chili-pepper-vector-gr_cd {
	position: absolute;
	width: 177px;
	height: 106px;
	left: 343px;
	top: 1525px;
	overflow: visible;
}
#ID111-1116028_vegetables-simpl_ce {
	position: absolute;
	width: 142px;
	height: 155px;
	left: 196px;
	top: 1593px;
	overflow: visible;
}
#lX3KDWaM_cf {
	position: absolute;
	width: 248.776px;
	height: 248.776px;
	left: 749.84px;
	top: 810.231px;
	overflow: visible;
}
#Rectangle_1 {
	fill: rgba(255,255,255,1);
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 1202px;
	height: 238px;
	left: 137px;
	top: 741px;
}
#sfdfd-1 {
	position: absolute;
	width: 440px;
	height: 247px;
	left: 131.209px;
	top: 760.471px;
	overflow: visible;
}
#nsbm {
	position: absolute;
	width: 194px;
	height: 129px;
	left: 1138.537px;
	top: 771.165px;
	overflow: visible;
}
#Rectangle_2 {
	fill: rgba(255,255,255,1);
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 282px;
	height: 260px;
	left: 241px;
	top: 1008px;
}
#Rectangle_5 {
	fill: rgba(255,255,255,1);
}
.Rectangle_5 {
	position: absolute;
	overflow: visible;
	width: 290px;
	height: 253px;
	left: 588px;
	top: 1015px;
}
#Rectangle_7 {
	fill: rgba(255,255,255,1);
}
.Rectangle_7 {
	position: absolute;
	overflow: visible;
	width: 1270px;
	height: 378px;
	left: 120px;
	top: 1314px;
}
#Rectangle_8 {
	fill: rgba(255,255,255,1);
}
.Rectangle_8 {
	position: absolute;
	overflow: visible;
	width: 277px;
	height: 256px;
	left: 937px;
	top: 1007px;
}
#Rectangle_9 {
	fill: rgba(255,255,255,1);
}
.Rectangle_9 {
	position: absolute;
	overflow: visible;
	width: 1265px;
	height: 365px;
	left: 128px;
	top: 1731px;
}
#Icon_awesome-map-marked-alt {
	fill: rgba(98,187,71,1);
}
.Icon_awesome-map-marked-alt {
	overflow: visible;
	position: absolute;
	width: 141.834px;
	height: 125.574px;
	left: 662.5px;
	top: 1043.926px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-user-tie {
	fill: rgba(98,187,71,1);
}
.Icon_awesome-user-tie {
	overflow: visible;
	position: absolute;
	width: 107.334px;
	height: 112.922px;
	left: 324px;
	top: 1056px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_material-attach-money {
	fill: rgba(98,187,71,1);
}
.Icon_material-attach-money {
	overflow: visible;
	position: absolute;
	width: 70.224px;
	height: 118.5px;
	left: 1027.616px;
	top: 1060px;
	transform: matrix(1,0,0,1,0,0);
}
#Welcome_to_Keells_ {
	left: 102px;
	top: 302px;
	position: absolute;
	overflow: visible;
	width: 512px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe Script;
	font-style: normal;
	font-weight: bold;
	font-size: 53px;
	color: rgba(0,0,0,1);
}
#Rectangle_13 {
	fill: rgba(255,255,255,1);
}
.Rectangle_13 {
	position: absolute;
	overflow: visible;
	width: 372px;
	height: 63px;
	left: 147px;
	top: 386px;
}
#Get_Start {
	left: 228px;
	top: 384px;
	position: absolute;
	overflow: visible;
	width: 211px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe Script;
	font-style: normal;
	font-weight: bold;
	font-size: 43px;
	color: rgba(98,187,71,1);
}
#Icon_awesome-angle-double-down {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-angle-double-down {
	overflow: visible;
	position: absolute;
	width: 73px;
	height: 62.724px;
	left: 745px;
	top: 609.619px;
	transform: matrix(1,0,0,1,0,0);
}
#Free_Sign_up_ {
	left: 322px;
	top: 1215px;
	position: absolute;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(0,0,0,1);
}
#Add_your_Oder {
	left: 687px;
	top: 1222px;
	position: absolute;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(0,0,0,1);
}
#Earn_Money_ {
	left: 1026px;
	top: 1217px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Rectangle_14 {
	fill: rgba(255,255,255,1);
}
.Rectangle_14 {
	position: absolute;
	overflow: visible;
	width: 302px;
	height: 272px;
	left: 332px;
	top: 2128px;
}
#Famer_Product_ {
	left: 223px;
	top: 1357px;
	position: absolute;
	overflow: visible;
	width: 146px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(0,0,0,1);
}
#Famer_Full_Oder_and_Confirmati {
	left: 187px;
	top: 1783px;
	position: absolute;
	overflow: visible;
	width: 384px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(0,0,0,1);
}
#Rectangle_15 {
	fill: rgba(255,255,255,1);
}
.Rectangle_15 {
	position: absolute;
	overflow: visible;
	width: 294px;
	height: 272px;
	left: 731px;
	top: 2134px;
}
#ID23-233302_icon-farmers-png-t {
	position: absolute;
	width: 166px;
	height: 173px;
	left: 400px;
	top: 2145px;
	overflow: visible;
}
#Total_Famer {
	left: 430px;
	top: 2318px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(0,0,0,1);
}
#ID1000 {
	left: 447px;
	top: 2346px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(0,0,0,1);
}
#ID2be9ffde8a442e69a89bc0ff0998 {
	position: absolute;
	width: 236px;
	height: 167px;
	left: 760px;
	top: 2165px;
	overflow: visible;
}
#Total_Earn {
	left: 819px;
	top: 2318px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(0,0,0,1);
}
#ID50000 {
	left: 835px;
	top: 2360px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(0,0,0,1);
}
#Rectangle_18 {
	fill: rgba(255,255,255,1);
}
.Rectangle_18 {
	position: fixed;
	overflow: visible;
	width: 1381px;
	height: 102px;
	left: 82px;
	top: -37px;
}
#lX3KDWaM_c {
	position: absolute;
	width: 248.775px;
	height: 248.776px;
	left: 119.84px;
	top: 55.231px;
	overflow: visible;
}
#ID26-269995_fruit-and-vegetabl_da {
	position: absolute;
	width: 148.83px;
	height: 149.64px;
	left: 313.504px;
	top: 467.948px;
	overflow: visible;
}
#ID111-1116028_vegetables-simpl_db {
	position: absolute;
	width: 142px;
	height: 155px;
	left: 137px;
	top: 463px;
	overflow: visible;
}
#ID111-1116028_vegetables-simpl_dc {
	position: absolute;
	width: 142px;
	height: 155px;
	left: 501px;
	top: 451px;
	overflow: visible;
}
#Normally_weve_system_for_custo {
	left: 558px;
	top: 762px;
	position: absolute;
	overflow: visible;
	width: 567px;
	height: 208px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#Rectangle_19 {
	fill: rgba(255,255,255,1);
}
.Rectangle_19 {
	position: absolute;
	overflow: visible;
	width: 1143px;
	height: 217px;
	left: 176px;
	top: 2444px;
}
#logo {
	position: fixed;
	width: 99px;
	height: 40px;
	left: 258px;
	top: 9px;
	overflow: visible;
}
#Weve_a_process_in_this_system_ {
	left: 247px;
	top: 2487px;
	position: absolute;
	overflow: visible;
	width: 1027px;
	height: 126px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(0,0,0,1);
}

ul {
    
    list-style:none;
    padding:0;
    margin:0
    font-size:24px;
    position: fixed;
    left: 60%;
}

.clear{
    
    clear:both
}

.mark{
    position:relative:;
}

.mark:before {
    
    position: absolute;
    content: '';
    width: 36px;
    border-bottom: 1px solid rgb(35, 31, 31);
    bottom: -8px;
}

h1, h2, h4 {
    
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}

/*  end globel  */

/*  start navbation bar */

.nav {
    
    background:lightgray;
    height:0;
    position:relative;
    z-index:999;
}

.nav .brend {
    
    width:49%;
    float:left;
    
}

.nav .brend h2 {
    
    margin:20px 0 7px;
    color:white;
    text-transform:uppercase;
    font-size: 30px;
}

.nav .links {
    
    width:51%;
    float:left;
    margin: 20px 0 7px;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    
}

.nav .links  li {
    
    display:inline-block;
    padding:3px 5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    cursor:pointer;
    color:#000;
    transition:all .2s ease-in ;
    margin-right: 3px;

}

.nav .links  li a {
    
    text-decoration:none;
    color:#000;
}


 
.nav .links  li.active a,
.nav .links  li a:hover{
     color:#000;
     
} 

.nav .links li.active ,
.nav .links li:hover{
     color:#000;
     border-bottom: 2px solid rgb(31, 178, 148);
    
}
#Custom_Size__1 {
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  from {
    margin-top: 0;
  }
  to {
    margin-top: -15px;
  }
}

.link{
	padding: 15px 30px;
	margin: 10px;
	display: inline-block;
	color: #000;
	background: #ffce54;
  text-decoration: none;
}

.link:hover{
	text-decoration: none;
	color: #000;
}

/*===================*/
/* PULSE SHRINK
/*===================*/

@-webkit-keyframes pulse-shrink-on-hover {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes pulse-shrink-on-hover {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
